{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
 <!-- banner -->
    <div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-top">
        <div class="uk-container uk-container-large">
            <h1>К сожалению, страница не найдена</h1>
        </div>
    </div>

 <!-- banner -->
    <div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-top">
        <div class="uk-container uk-container-large">
            <div class="uk-background-cover"
                 style="background-image: url(/media/images/dis/bgredhoriz2.jpg);">
                    <div class="uk-grid-medium uk-padding" uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-text-center">
                                <p class="banner uk-margin-small">Не пропустите! Посмотрите бесплатный мастер-класс Жаннат Куанышевны «Почему не работают курсы английского языка?»</p>
                            </div>
                             <div class="uk-flex uk-flex-center fstext">
                                <a class="uk-button uk-button-default uk-margin-small-bottom uk-margin-top" href="/onlajn-kursy/registraciya-na-master-klass/"><span uk-icon="forward"> </span> Посмотрите мастер-класс</a>
                            </div>

                        </div>
                    </div>
            </div>
        </div>

    </div>
{% endblock %}
