{% load wagtailimages_tags topics_tag %}



<div class="uk-padding-small">
    <ul uk-nav>
        <li class="uk-parent{% if filter == 'comp'  %} uk-open{% endif %}">
            <a href="{{ item.href }}">Разделы<span uk-navbar-parent-icon></span></a>
    <!--    Подменю-->


                <ul uk-nav class="uk-nav-sub">
                    {% components %}
                </ul>

        </li>
        <li class="uk-parent{% if filter == 'topic'  %} uk-open{% endif %}">
            <a href="{{ item.href }}">Темы<span uk-navbar-parent-icon></span></a>
            <!--    Подменю-->


            <ul uk-nav class="uk-nav-sub">
                {% topics %}
            </ul>

        </li>
        <li class="uk-parent{% if filter == 'country'  %} uk-open{% endif %}">
            <a href="#">Страны<span uk-navbar-parent-icon></span></a>
            <!--    Подменю-->


            <ul uk-nav class="uk-nav-sub">

                {% countries %}

            </ul>

        </li>        
        <li class="">
            <a href="/ru/avtory-i-publikacii/">Авторы</a>
        </li>
        <li class="">
            <a href="/ru/publikacii-po-godam/">По годам</a>
        </li>

        <li class="">
            <a href="/ru/analitics/">Статистика</a>
        </li>
    </ul>
</div>