{% load menu_tags wagtailcore_tags %}
<ul class="uk-navbar-nav uk-grid-small" uk-grid>

    <li>
                <a href="/" uk-icon="icon: home"></a>
    </li>

{% for item in menu_items %}
    <li class="uk-width-auto@m uk-visible@l">
        <a href="{{ item.href }}">{{ item.text }}
            {% if item.has_children_in_menu %}
                <span uk-navbar-parent-icon></span>
            {% endif %}
        </a>
        {% if item.has_children_in_menu %}
        	{% sub_menu item %}
        {% endif %}

    </li>
{% endfor %}
        <li class="uk-flex uk-flex-middle testpadding">
        <!-- Testing -->
            <a class="b-test uk-button uk-button-default" href="/test/">Тестирование</a>
        </li>
    <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav-primary" href="#"></a></li>


</ul>
