/* Settings for all site */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: .9375rem;
    font-weight: normal;
    line-height: 1.7;
    color: #003049;
    background-color: #FDF0D5;
    margin-block-end: 0;
    margin-block-start: 0;
}


  /* Site colors */
.uk-section-default {
    background: #FDF0D5;
}
.cDarkRed {
    color: #780000;
}

.cRed {
    color: #C1121F;
}

.cCream {
    color: #FDF0D5;
}

.cDarkBlue {
    color: #003049;
}

.cLightBlue {
    color: #D1E8F7;
}

.cBlue {
    color: #669BBC;
}

/* header */
.subheader {
    font-size: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.headerphone {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
    color: #780000;
}

.headericon {
    margin: 0 5px;
}

.headermessage {
    margin: 0 5px;
}

/*
 * first screen home page
 */
.fstext {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 1.25rem;
    font-style: italic;
}

.fstext > h1 {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.banner {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fstext > h2 {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fstext > a {
    color: #FDF0D5;
    font-size: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
}

p[data-block-key="5b7qd"] {
    /* Ваши стили здесь */
    text-align: right;
    margin-bottom: 0;
}

.fstext a.uk-button {
  padding: 10px 40px;
  font-size: 1.25rem;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}

/*
 * Default
 */
.fstext a.uk-button-default {
  background-color: #003049;
  color: #FDF0D5;
  border: 1px solid #e5e5e5;
}
/* Hover */
.fstext a.uk-button-default:hover {
  color: #D1E8F7;
  border-color: #D1E8F7;
}



/*
 * EM Stats
 */

.blueborder {
    border: 2px solid #669BBC;
}

.statstext {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #003049;
}

.statstext > h3 {
    line-height: 1.2;
    color: #003049;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.redstats {
    line-height: 1.2;
    color: #C1121F;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid #669BBC;
    margin: 0 20px;
    padding-bottom: 15px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.statsblock {
    padding-bottom: 0;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px;
}

/*
 * Why EM
 */
.why {
        line-height: 1.2;
}

.why h3 {
    line-height: 1.2;
    color: #C1121F;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.whybody {
    line-height: 1.2;
    color: #003049;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.whymulti {
    line-height: 1.2;
    color: #003049;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 0px;
}

/*
 * Courses
 */
.coursestext {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #003049;
}

.coursestext h3 {
    line-height: 1.2;
    color: #003049;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.courseoverlay {
    background-color: #003049;
}

.courseoverlay h4 {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.courseoverlay p {
    line-height: 1.2;
    color: #FDF0D5;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.uk-transition-slide-bottom {
    --uk-translate-y: 62%;
}

.uk-transition-fade, [class*='uk-transition-scale'], [class*='uk-transition-slide'] {
    opacity: 1;
}

/*
 * Reviews
 */
.reviewstext {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #003049;
}

.reviewstext h3 {
    line-height: 1.2;
    color: #003049;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.reviewstext h4 {
    line-height: 1.2;
    color: #C1121F;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.reviewstext p, li {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: #003049;
}

.reviewstext a {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #669BBC;
}

.reviewstext a:hover {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #669BBC;
}

/*
 * Footer
 */
.uk-icon-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  background: #FDF0D5;
  color: #003049;
  vertical-align: middle;
  /* 1 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color;
}
/* Hover */
.uk-icon-button:hover {
    background-color: #D1E8F7;
    color: #003049;
}
/* OnClick + Active */
.uk-icon-button:active,
.uk-active > .uk-icon-button {
    background-color: #FDF0D5;
    color: #003049;
}

.footertext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7;
    color: #FDF0D5;
}
.footertext > p > a {
    color: #D1E8F7;
    text-decoration: none;
    cursor: pointer;
}


  /* flat menu */
  /* layer parameters  */
.uk-navbar-container:not(.uk-navbar-transparent) {
    height: 50px;
    background-color: #003049;
}

/* cell parameters  */
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    column-gap: .25em;
    min-height: 50px;
    font-size: .9375rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #FDF0D5;
}

/*
 * Hover
 * Apply hover style also if dropdown is opened
 */
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a[aria-expanded="true"] {
  color: #D1E8F7;
}
/* OnClick */
.uk-navbar-nav > li > a:active {
  color: #D1E8F7;
}
/* Active */
.uk-navbar-nav > li.uk-active > a {
  color: #9AC3DD;
}

/* dropdown parameters  */
.uk-navbar-dropdown {
    /*display: none;
    position: absolute;*/
    width: 240px;
    padding: 20px;
    background: #003049;
    color: #FDF0D5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: .875rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/*
 * Items
 */
.uk-navbar-dropdown-nav > li > a {
  color: #FDF0D5;
}
/* Hover */
.uk-navbar-dropdown-nav > li > a:hover {
  color: #D1E8F7;
}
/* Active */
.uk-navbar-dropdown-nav > li.uk-active > a {
  color: #D1E8F7;
}


  /* headers */
h1  {
    font-family: 'Roboto Condensed', sans-serif;
}